@media (max-width: 400px) {
    .calculator {
        width: 258px;
        height: 560px;
    }
    .img {
        height: 600px;
    }
    .count {
        font-size: 45px;
    }
    .sign {
        font-size: 25px;
        width: 55px;
        height: 55px;
    }
    .number {
        padding: 150px 23.5px 15px 10px;
    }
}